.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonEdit {
    background-color: #4CAF50;
    color: white;
}

.buttonDelete {
    background-color: #f44336;
    color: white;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input,
.textarea {
    display: block;
    width: 80%; /* Ajuste para centralizar e alinhar com o estilo de pacientes */
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton {
    width: 50%; /* Ajuste para centralizar o botão */
    background-color: #28a745; /* Cor similar ao botão de pacientes */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #218838; /* Efeito hover */
}

.openModalButton {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.openModalButton:hover {
    background-color: #0056b3;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cancelButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.cancelButton:hover {
    background-color: #d32f2f;
}
