name: CI Sistema Medicamentos

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: Build, Test & Prisma
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name:  Checkout do código
        uses: actions/checkout@v3

      - name:  Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      # Frontend
      - name:  Instalar dependências (frontend)
        working-directory: sistema-medicamentos
        run: npm ci

      - name:  Rodar testes (frontend)
        working-directory: sistema-medicamentos
        run: npm test -- --watchAll=false

      - name:  Build (frontend)
        working-directory: sistema-medicamentos
        run: npm run build

      # Backend
      - name:  Instalar dependências (backend)
        working-directory: backend-custom
        run: npm ci

      - name:  Prisma - Validar schema
        working-directory: backend-custom
        run: npx prisma validate

      - name:  Prisma - Format schema
        working-directory: backend-custom
        run: npx prisma format --schema prisma/schema.prisma
